.container {
	position:fixed;
	width: 100vw;
	height: 100vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 40;
	transition: opacity 0.2s;
}

.container-preEnter, .container-exiting {
	opacity: 0;
}

.container-entering {
	opacity: 1;
}

.container-exited {
	visibility: hidden;
	opacity: 0;
}

.scrollContainer {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.projectModal {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	max-width: 40rem;
	max-height: 100vh;
	gap: 1.5em;
	padding: 2em 0;
	transition: transform 0.2s, opacity 0.2s;
	overflow-y: scroll;
}

.projectModal-preEnter {
	transform: scale(1.2);
	opacity: 0;
}

.projectModal-entering {
	transform: scale(1);
	opacity: 1;
}

.projectModal-entered {
	transform: scale(1);
	opacity: 1;
}

.projectModal-exiting {
	transform: scale(1.2);
	opacity: 0;
}

.projectModal-exited {
	transform: scale(1.2);
	opacity: 0;
}

.topBar {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0 2em;
}

.logo {
	height: 4em;
}

.images {
	padding: 0 2em;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding: 0 2em;
}

.buttons {
	display: flex;
	width: 100%;
	gap: 1em;
	padding: 0.5rem 2em;
	-ms-overflow-style: none;
  scrollbar-width: none;
}

.buttons::-webkit-scrollbar { 
	display: none;
}

/* Mobile */
@media (max-width: 700px) {
	.projectModal {
		border-radius: 0;
		border: none;
	}
}
