.container {
    position: relative;
}

.circle1 {
    position: absolute;
    width: 60vh;
    height: 120vh;
    bottom: -160vh;
    left: 0;

    background: radial-gradient(circle farthest-side at left, var(--circle-color-1-inner) 0%, var(--circle-color-1-outer) 100%);
}

.circle2 {
    position: absolute;
    width: 50vh;
    height: 100vh;
    bottom: -250vh;
    right: 0vh;

    background: radial-gradient(circle farthest-side at right, var(--circle-color-2-inner) 0%, var(--circle-color-2-outer) 100%);

}

.circle3 {
    position: absolute;
    width: 70vh;
    height: 140vh;
    bottom: -470vh;
    right: 0vh;

    background: radial-gradient(circle farthest-side at right, var(--circle-color-1-inner) 0%, var(--circle-color-1-outer) 100%);
}

@media (max-width: 700px) {
	.circle1 {
        width: 30vh;
        height: 60vh;
        bottom: -130vh;
        left: 0;
	}

    .circle2 {
        width: 25vh;
        height: 50vh;
        bottom: -225vh;
        right: 0vh;
    }

    .circle3 {
        width: 35vh;
        height: 70vh;
        bottom: -435vh;
        right: 0vh;
    }
}