.projectCard {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1.5em;
  border: solid 2px var(--border-color);
  border-radius: var(--border-radius);
  min-width: 25em;
  max-width: 35em;
  scroll-snap-align: start;
	backdrop-filter: blur(1em);
  transition: background-color 0.1s, backdrop-filter 0.1s;
}

/* Non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.projectCard:hover {
		background-color: #ffffff07;
	}
}

/* Mobile */
@media (max-width: 700px) {
	.projectCard {
		min-width: 100%;
	}
}