.button {
    all: unset;
    flex-grow: 0;
    border-radius: 0.65rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--button-text-color);
    background: var(--button-color);
    border: 2px solid rgba(255, 255, 255, 0.50);
    font-size: 1.5rem;
}