.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: linear-gradient(52deg, #000917, #000000, #0d0017);
}

.pageSection {
  padding: var(--page-section-padding);
  padding-left: var(--page-section-padding-left);
  min-height: 100%;
  scroll-snap-align: start;
}

.splitPageSection {
  padding: var(--page-section-padding);
  padding-left: var(--page-section-padding-left);
  scroll-snap-align: start;
}

.navBarContainer {
  height: 100%;
  position: absolute;
  padding: 3em;
}

.navBar {
  background-color: #ffffff07;
  backdrop-filter: blur(0.4em);
  width: 4em;
  height: 100%;
  border: solid 2px #ffffff10;
  border-radius: 0.75em;
}

.homeContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

.nameTag {
  font-weight: 800;
  background-image: linear-gradient(180deg, #ffffff, #ffffff, #999999);
  background-clip: text;
  color: transparent;
}

.nameTagSubtext {
  padding-left: 0.25em;
  color: #aaaaaa
}

.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 2em 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: var(--page-section-padding);
  flex-wrap: wrap;
}

/* about section */

.aboutContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1.5em;
  border: solid 2px #ffffff10;
  border-radius: 0.75em;
  min-width: 18em;
  max-width: 32em;
  height: 18em;
  scroll-snap-align: start;
  transition: background-color 0.1s, backdrop-filter 0.1s;
}

.aboutCard:hover {
  background-color: #ffffff07;
  backdrop-filter: blur(0.4em);
}

/* projects section */

.projectsContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

/* contact section */

.contactContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
  .navBarContainer {
    width: 100%;
    height: auto;
    bottom: 0px;
  }

  .navBar {
    width: 100%;
    height: 4em;
  }

  .splitPageSection {
    padding: var(--page-section-padding) 0;
  }

  .splitSection {
    padding: 0 var(--page-section-padding);
  }

  .cardContainer {
    padding-left: var(--page-section-padding);
    padding-right: var(--page-section-padding);
    flex-wrap: nowrap;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
