.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: linear-gradient(52deg, #000917, #000000, #0d0017);
	scroll-behavior: smooth;

}

.pageSection {
  padding: var(--page-section-padding);
  padding-left: var(--page-section-padding-left);
  min-height: 100%;
  scroll-snap-align: start;
}

.splitPageSection {
  /*padding: var(--page-section-padding);
  padding-left: var(--page-section-padding-left);*/
	padding: var(--page-section-padding) 0;
  min-height: 100%;
  scroll-snap-align: start;
}

.splitSection {
	padding: 0 var(--page-section-padding);
	padding-left: var(--page-section-padding-left)
}

.homeContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

.nameTag {
  font-weight: 800;
  background-image: linear-gradient(180deg, #ffffff, #ffffff, #999999);
  background-clip: text;
  color: transparent;
}

.nameTagSubtext {
  padding-left: 0.25em;
  color: #aaaaaa
}

/* about section */

.aboutContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

/* projects section */

.projectsContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

/* contact section */

.contactContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
  .splitPageSection {
    padding: var(--page-section-padding) 0;
  }

  .splitSection {
    padding: 0 var(--page-section-padding);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
