.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: linear-gradient(52deg, #0d0017, #000000, #000917);
	scroll-behavior: smooth;
}

.pageSection {
  padding: var(--page-section-padding);
  padding-left: var(--page-section-padding-left);
  min-height: 100%;
  scroll-snap-align: start;
	z-index: 20;
}

.splitPageSection {
  /*padding: var(--page-section-padding);
  padding-left: var(--page-section-padding-left);*/
	padding: var(--page-section-padding) 0;
  min-height: 100%;
  scroll-snap-align: start;
	transition: transform 0.2s, opacity 0.2s;
	z-index: 20;
}

.splitSection {
	padding: 0 var(--page-section-padding);
	padding-left: var(--page-section-padding-left)
}

.homeContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

.nameTag {
  font-weight: 800;
  background-image: linear-gradient(180deg, #ffffff, #ffffff, #999999);
  background-clip: text;
  color: transparent;
}

.nameTagSubtext {
  padding-left: 0.25em;
  color: #aaaaaa
}

/* about section */

.aboutContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

/* projects section */

.projectsContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
	transition: transform 0.2s, opacity 0.2s, filter 0.2s;
}

.projectsContent-entering, .projectsContent-entered {
	opacity: 1;
	transform: scale(1);
}

.projectsContent-exiting, .projectsContent-exited, .projectsContent-preEnter {
	opacity: 0;
	transform: scale(0.7);
}

.prjCardLogo {
	align-self: flex-start;
	height: 3em;
}

.projectCardButtons {
	display: flex;
	gap: 1em;
}

.prjCardImg {
	border-radius: var(--border-radius);
}

/* contact section */

.contactContent {
  display: flex;
  flex-direction: column;
  min-height: 100%;
	max-width: 50em;
  justify-content: center;
	gap: 1em;
	text-align: justify;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
	.pageSection {
    padding: var(--page-section-padding) var(--page-section-padding);
		padding-bottom: var(--page-section-padding-left);
	}

  .splitPageSection {
    padding: var(--page-section-padding) 0;
		padding-bottom: var(--page-section-padding-left);
  }

  .splitSection {
    padding: 0 var(--page-section-padding);
  }

	.prjCardImg {
		display: none;
	}
}

@media (max-height: 800px) {
	.prjCardImg {
		display: none;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
