.navItem {
	display: flex;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-moz-user-drag: none;
	transform: scale(0.85);
	opacity: 0.65;
	transition: transform 0.1s, opacity 0.1s;
}

.navItemContainer {
	display: flex;
	justify-content: center;
	margin: 0.35em;
	padding: 0.35em;
	border-radius: var(--border-radius);
	transition: background-color 0.1s, transform 0.1s;
}

.navItemContainer:active {
	background-color: var(--container-bg-color);
}

.selectedNavItem {
	transform: scale(1.1);
	opacity: 1;
}

/* Non-touch devices */
@media (hover: hover) and (pointer: fine) {

	.navItemContainer:hover {
		transform: scale(1.1);
	}

	.navItemContainer:active {
		transform: scale(1);
	}
}