.cardContainer {
	display: flex;
	flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 2em;
	padding: 2em var(--page-section-padding);
	padding-left: var(--page-section-padding-left);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--page-section-padding-left);
  flex-wrap: wrap;
	max-height: 60em; /* limit to 2 cards */
	align-content: flex-start;
	-ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollButtons {
	visibility: hidden;
	padding-left: var(--page-section-padding-left);
	display: flex;
	gap: 2em;
}

.scrollButton {
	all: unset;
	padding: 0.25em 0.75em;
	border-radius: var(--border-radius);
	transition: background-color 0.1s;
}

.scrollButton:active {
	background-color: var(--container-bg-color);
}

.cards::-webkit-scrollbar { 
	display: none;
}

/* Limited height or width, including mobile */
@media (max-height: 850px) or (max-width: 1125px) {
  .cards {
		flex-direction: column;
		max-height: 32em; /* limit to 1 card height */
  }

	.scrollButtons {
		visibility: visible;
	}
}


/* Non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.scrollButton {
		border: solid 2px transparent;
		transition: border 0.1s, transform 0.1s, background-color 0.1s;
	}

	.scrollButton:hover {
		cursor: pointer;
		border: solid 2px var(--border-color);
	}

	.scrollButton:active {
		transform: scale(0.95);
	}
}