.aboutCard {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1.5em;
  border: solid 2px #ffffff10;
  border-radius: var(--border-radius);
  min-width: 18em;
  max-width: 32em;
  height: 18em;
  scroll-snap-align: start;
	backdrop-filter: blur(1em);
  transition: background-color 0.1s, backdrop-filter 0.1s;
}

/* Non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.aboutCard:hover {
		background-color: #ffffff07;
	}
}

/* Mobile */
@media (max-width: 700px) {
	.aboutCardActive {
		background-color: #ffffff07;
	}
}